     {{>sidenav }}
<div class="description"> 
       {{#selectedProject}}
    <h1>
        This is {{name}} project!
    </h1>
        <img  src="/{{directory}}/screenshot.png" alt="">
     <h2 style="display: inline-block;position: absolute;margin: 3% 10%;margin-right: 18%;">
      
        {{description}}
    </h2>
    {{>button}}
        {{/selectedProject}}    
</div>