<div id="welcome">
    <h1>Hello, my name is Naya. 
    <br> I'm student at Spiced Academy 
    <br> based in Berlin  <img id="bear" src="bear.png" alt=""></h1>
</div> 
   
<div id="projectBlock">
  {{> projectsList}}
</div>    

   