.container {
    display: grid;
    height: 100vh;

    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 1fr 100px;
    gap: 10px;
}

header {
    background-color: skyblue;
    grid-column: 1 / 4;
}

footer {
    background-color: skyblue;
    grid-column: 1 / span 3;
    /* grid-column: -4 / -1;   same  */
}

.left-sidebar {
    background-color: plum;
}

.right-sidebar {
    background-color: plum;
}

main {
    background-color: peachpuff;
}
