* {
    box-sizing: border-box;
    margin: 0;
}

#logo {
    width: 201px;
    float: left;
    left: 20px;
}
#logo img {
    width: 100%;
    margin: 10%;
}

#menu img {
    width: 50px;
    float: right;
    margin: 1%;
    right: 5px;
}
#popup {
    position: fixed;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    background-color: #1b1919;
    opacity: 0.5;
    z-index: 4;
}

#container {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 46vw;
    height: 29vh;
    background-color: whitesmoke;
    z-index: 5;
    border-radius: 15px;
}

.disappear {
    visibility: hidden;
}

.overlay {
    position: fixed;
    width: 70%;
    height: 100%;
    background-color: #1b1919;
    opacity: 0.5;
    z-index: 1;
    /* visibility: hidden; */
}

.side-nav {
    position: absolute;
    top: 0;
    left: 70%;
    bottom: 0;
    width: 30%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    background-color: whitesmoke;
}

#close {
    position: fixed;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    top: 2%;
    right: 2%;
    font-size: 1.2rem;
}
#side-nav-link {
    margin: 15% 20%;
    color: dodgerblue;
}

.banner {
    width: 100%;
    text-align: center;
}

.banner img {
    background-size: cover;
    width: 100%;
    margin: 0;
}

.banner h1 {
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
    font-size: 2.5rem;
    color: whitesmoke;
}

.banner button {
    position: absolute;
    top: 45%;
    left: 40%;
    right: 40%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: goldenrod;
    font-size: 1.5em;
    width: 15rem;
    height: 3rem;
    background-color: yellow;
    border-color: gold;
    border-radius: 2rem;
    border-width: thick;
}

footer {
    background-color: lightgrey;
    position: absolute;
    display: block;
    top: 75%;
    width: 100%;
}
section {
    display: inline-block;
    margin-top: 1%;
}
footer img {
    width: 50px;
    float: left;
}

.leftColumn {
    float: left;
    width: 40%;
    margin-left: 10%;
}
.rightColumn {
    float: right;
    position: absolute;
    width: 40%;
    margin-right: 10%;
}

.blocktext {
    margin-bottom: 7%;
}

h2,
p {
    margin-left: 20%;
}

@media screen and (max-width: 962px) {
    #logo {
        width: 20%;
    }
    #menu img {
        width: 5%;
    }
    .banner h1 {
        font-size: 2rem;
        top: 30%;
    }
    .banner button {
        left: 35%;
        right: 35%;
        top: 38%;
        width: 14rem;
        height: 3rem;
        font-size: 1.3rem;
    }
    .leftColumn,
    .rightColumn {
        margin-left: 5%;
    }
    h2 {
        font-size: 1.4em;
    }
    p {
        margin-top: 4%;
        font-size: 1em;
    }
    .blocktext {
        margin: 10% 0;
    }
    footer {
        top: 65%;
    }
}

@media screen and (max-width: 775px) {
    .banner h1 {
        font-size: 1.8rem;
        left: 15%;
        top: 25%;
        right: 15%;
    }
    .banner button {
        left: 32%;
        right: 30%;
        top: 32%;
        width: 13rem;
        height: 3rem;
        font-size: 1.1rem;
    }

    p {
        margin-top: 8%;
    }
    footer {
        top: 55%;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        width: 20%;
    }
    #menu img {
        width: 5%;
    }
    .banner h1 {
        font-size: 1.5rem;
        left: 12%;
        top: 17%;
        right: 9%;
    }
    .banner button {
        left: 30%;
        right: 2%;
        top: 22%;
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
    }

    p,
    h2 {
        margin-left: 25%;
    }
    .leftColumn {
        margin: 0 3%;
    }
    .rightColumn {
        margin-right: 0;
    }
    h2 {
        font-size: 1.4em;
    }
    p {
        margin-top: 10%;
        font-size: 1em;
    }
    .blocktext {
        margin: 15% 0;
    }
    footer {
        top: 40%;
        height: 60%;
    }
}

@media screen and (max-width: 450px) {
    .banner h1 {
        font-size: 1.3rem;
        /* left: 12%; */
        top: 14%;
        /* right: 9%; */
    }
    .banner button {
        top: 18%;
        width: 9rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }

    p,
    h2 {
        margin-left: 25%;
    }
    .leftColumn {
        width: auto;
        position: relative;
        margin: 2% 6%;
        margin: 0 3%;
    }
    .rightColumn {
        position: relative;
        margin: 2%;
        width: auto;
        margin-right: 0;
    }
    h2 {
        font-size: 1.4em;
    }
    p {
        margin-top: 10%;
        font-size: 1em;
    }
    .blocktext {
        margin: 10% 0;
    }
    footer {
        position: relative;
    }
    footer img {
        width: 55px;
        margin: 5%;
    }
}

@media screen and (max-width: 450px) {
    .banner h1 {
        font-size: 1.2rem;
        top: 12%;
    }
    .banner button {
        font-size: 0.9rem;
        width: auto;
        height: auto;
    }
    p {
        margin-top: 5%;
    }
    h2 {
        margin-top: 10%;
        font-size: 1.3rem;
    }
    .blocktext {
        margin: 5% 0;
        margin-right: 5%;
    }
}

/* @media (prefers-color-scheme: dark) {
    .banner button,
    body,
    footer {
        background-color: rgb(33, 33, 33);
        color: whitesmoke;
        transition: background-color 3s;
    }
    .banner img {
        filter: brightness(50%);
        transition: filter 3s;
    }
} */
