* {
    box-sizing: border-box;
    margin: 0;
}
header {
    /* height: 80px; */
}

#logo {
    width: 201px;
    float: left;
    left: 20px;
}
#logo img {
    width: 100%;
    margin: 10%;
}

#menu img {
    width: 50px;
    float: right;
    margin: 1%;
    right: 5px;
}

.banner {
    width: 100%;
    text-align: center;
}

.banner img {
    background-size: cover;
    width: 100%;
    margin: 0;
}

.banner h1 {
    position: absolute;
    top: 35%;
    left: 20%;
    right: 20%;
    font-size: 2.5rem;
    color: whitesmoke;
}

.banner button {
    position: absolute;
    top: 45%;
    left: 40%;
    right: 40%;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: goldenrod;
    font-size: 1.5em;
    width: 15rem;
    height: 3rem;
    background-color: yellow;
    border-color: gold;
    border-radius: 2rem;
    border-width: thick;
}

footer {
    background-color: lightgrey;
    position: absolute;
    display: block;
    top: 75%;
    width: 100%;
}
section {
    display: inline-block;
    margin-top: 1%;
}
footer img {
    width: 50px;
    float: left;
}

.leftColumn {
    float: left;
    width: 40%;
    margin-left: 10%;
}
.rightColumn {
    float: right;
    position: absolute;
    width: 40%;
    margin-right: 10%;
}

.blocktext {
    margin-bottom: 7%;
}
h2,
p {
    margin-left: 20%;
}

/* @media screen and (max-width: 962px) {
    .banner h1 {
        font-size: 2rem;
        left: 20%;
        right: 20%;
    }
} */

@media screen and (max-width: 962px) {
    #logo {
        width: 20%;
    }
    #menu img {
        width: 5%;
    }
    .banner h1 {
        font-size: 2rem;
        top: 30%;
        left: 20%;
        right: 20%;
    }
    .banner button {
        left: 35%;
        right: 35%;
        top: 38%;
        width: 14rem;
        height: 3rem;
        font-size: 1.3rem;
    }
    .leftColumn,
    .rightColumn {
        margin-left: 5%;
    }
    h2 {
        font-size: 1.4em;
    }
    p {
        margin-top: 4%;
        font-size: 1em;
    }
    .blocktext {
        margin: 10% 0;
    }
    footer {
        top: 65%;
    }
}

@media screen and (max-width: 775px) {
    #logo {
        width: 20%;
    }
    #menu img {
        width: 5%;
    }
    .banner h1 {
        font-size: 1.8rem;
        left: 15%;
        top: 25%;
        right: 15%;
    }
    .banner button {
        left: 32%;
        right: 30%;
        width: 13rem;
        height: 3rem;
        font-size: 1.1rem;
        top: 32%;
    }
    .leftColumn,
    .rightColumn {
        margin-left: 5%;
    }
    h2 {
        font-size: 1.4em;
    }
    p {
        margin-top: 8%;
        font-size: 1em;
    }
    .blocktext {
        margin: 10% 0;
    }
    footer {
        top: 55%;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        width: 20%;
    }
    #menu img {
        width: 5%;
    }
    .banner h1 {
        font-size: 1.5rem;
        left: 12%;
        top: 20%;
        right: 9%;
    }
    .banner button {
        left: 30%;
        right: 2%;
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
        top: 27%;
    }
    p,
    h2 {
        margin-left: 25%;
    }
    .leftColumn {
        margin: 0 3%;
    }
    .rightColumn {
        margin-right: 0;
    }
    h2 {
        font-size: 1.4em;
    }
    p {
        margin-top: 10%;
        font-size: 1em;
    }
    .blocktext {
        margin: 15% 0;
    }
    footer {
        top: 40%;
        height: 60%;
    }
}

@media (prefers-color-scheme: dark) {
    .banner button,
    body,
    footer {
        background-color: rgb(33, 33, 33);
        color: whitesmoke;
        transition: background-color 3s;
    }
    .banner img {
        filter: brightness(50%);
        transition: filter 3s;
    }
}
/* background: darkslategray;
        color: #ddd; */

/* .banner img {
        opacity: 0.75;
        transition: opacity 0.5s ease-in-out;
    }
    .banner img:hover {
        opacity: 1;
    } */

/* h3 {
    font-weight: ;
} */
/* @media (prefers-color-scheme: dark) {
    .night.dark-scheme {
        background: darkslategray;
        color: #ddd;
    }
} */
