* {
    box-sizing: border-box;
}
header {
    padding: 10px;
    height: 80px;
}

body {
    background-color: white;
}
#logo {
    width: 201px;
    float: left;
    position: absolute;
    left: 20px;
}

#menu {
    width: 50px;
    float: right;
    position: absolute;
    right: 5px;
}

img {
    object-fit: cover;
}
.container {
    width: 100px;
    height: 40px;
    position: relative;
    top: 70px;
}

h1 {
    font-size: 2em;
    color: white;
    position: fixed;
    font-style: italic;
    left: 35%;
}
