  {{#projects}}
    <div id="eachProject">
        <a href="projects/{{directory}}"> 
        {{name}}</a>
       <a href="projects/{{directory}}"> 
        <img id="projImg"  src="/{{directory}}/screenshot.png" alt="">
        </a>
       </div>
    {{/projects}}