  
<div class="sideNav">
<ul> 
    <a href="/"> ⌂ home</a>
    <br>
    <br>
    {{#projects}}
    <li>
        <a href="/projects/{{directory}}"> {{checkCurrent name}}</a>
        
    </li>
    {{/projects}}
</ul>
</div>

