* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: rgb(25 25 25);
    color: rgb(223 224 219);
}
#welcome {
    display: flex;
    /* text-align: center; */
    width: auto;
    height: 30%;
    padding: 10%;
    padding-bottom: 10%;
}
h1 {
    font-family: "Rajdhani";
    /* top: 18%; */
    /* left: 20%; */
    font-size: 3.5rem;
    margin-top: 9%;
}
.boxBear {
    /* margin-left: 90px; */
    margin-top: 53px;
    height: 400px;
    width: 400px;
    position: relative;
}
.bear {
    position: absolute;
}
.bearLight {
    position: absolute;
    animation: light 5s ease-in-out infinite;
}
@keyframes light {
    0% {
    }
    25% {
        opacity: 0.7;
        transform: translate(15%, -57%);
    }
    50% {
        opacity: 1;
        transform: translate(65%, -60%);
    }
    75% {
        opacity: 0.7;
        transform: translate(75%, 5%);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}

#projectBlock {
    display: inline-flex;
}
#projImg {
    width: 20rem;
    height: 18rem;
    margin-top: 28px;
}
#projImg:hover {
    filter: drop-shadow(16px 16px 20px rgba(255, 217, 0, 0.801));
}

#eachProject {
    text-align: center;
    font-family: "Montserrat";
    padding: 5%;
}

a {
    color: rgb(223 224 219);
    font-size: 1.4rem;
    padding: 0% 5%;
}
a:hover {
    color: gold;
}

button {
    margin: 0 15%;
    width: 150px;
    height: 60px;
    font-family: "Montserrat";
    background: #3c3938;
}
button:hover {
    filter: drop-shadow(16px 16px 20px rgba(255, 217, 0, 0.801));
}

.sideNav {
    position: fixed;
    right: 0px;
    width: 200px;
    height: 100%;
    top: 10%;
    font-family: "Rajdhani";
    font-size: 2.3rem;
}

.description img {
    margin: 3% 0%;
    width: 440px;
}

.description {
    margin: 5% 5%;
    font-family: "Montserrat";
}

footer {
    position: fixed;
    bottom: 10px;
    font-family: "Montserrat";
}
